markdown: redcarpet
name: 18F Intake Information
exclude:
- go
- Gemfile
- Gemfile.lock
- README.md
- LICENSE.md

permalink: pretty
highlighter: rouge

sass:
  style: :compressed

# Author/Organization info to be displayed in the templates
author:
  name: 18F
  url: https://18f.gsa.gov

# Point the logo URL at a file in your repo or hosted elsewhere by your organization
logourl: /assets/img/18f-logo.png
logoalt: 18F logo

# Navigation
# List links that should appear in the site sidebar here
navigation:
- text: Get to know 18F
  url: get-to-know-18F/
  internal: true
  children:
  - text: Delivery Partnership Playbook (external)
    url: https://pages.18f.gov/partnership-playbook/
    internal: false
- text: Explaining 18F's intake process
  url: intake-process/
  internal: true
- text: Past work
  url: past-work/
  internal: true
- text: Business lines
  url: business-lines/
  internal: true
  children:
  - text: Delivery
    url: https://18f.gsa.gov/delivery/
    internal: false
  - text: Consulting
    url: https://18f.gsa.gov/consulting/
    internal: false
  - text: Acquisition Services
    url: acquisition-services/
    internal: true
  - text: Custom Partner Solutions
    url: custom-partner-solutions/
    internal: true
  - text: Learn
    url: learn/
    internal: true
  - text: Products and Platforms
    url: products-and-platforms/
    internal: true
  - text: Transformation Services
    url: transformation-services/
    internal: true
- text: Funding and IAA details
  url: funding-and-iaa/
  internal: true

repos:
- name: Intake
  description: Main repository
  url: https://github.com/18F/intake

back_link:
  url: "https://pages.18f.gov/"
  text: Read more 18F Pages

collections:
  pages:
    output: true
    permalink: /:path/

google_analytics_ua: UA-48605964-19

defaults:
  -
    scope:
      path: ""
    values:
      layout: "guides_style_18f_default"

styles:
  "assets/css/intake.css"
