markdown: redcarpet
name: 18F Intake Information
exclude:
- go
- Gemfile
- Gemfile.lock
- README.md
- LICENSE.md

permalink: pretty
highlighter: rouge

sass:
  style: :compressed

# Author/Organization info to be displayed in the templates
author:
  name: 18F
  url: https://18f.gsa.gov

# Point the logo URL at a file in your repo or hosted elsewhere by your organization
logourl: /assets/img/18f-logo.png
logoalt: 18F logo

# Navigation
# List links that should appear in the site sidebar here
navigation:
- text: Introduction
  url: index.html
  internal: true
- text: Who is 18F?
  url: introducing-18F/
  internal: true
- text: Cost and IAA Details
  url: cost-and-IAA/
  internal: true
- text: 18F's Intake Process
  url: intake-process/
  internal: true
- text: Past Work
  url: past-work/
  internal: true
- text: Lines of Business
  url: business-lines/
  internal: true
  children:
  - text: Delivery
    url: https://18f.gsa.gov/delivery/
    internal: false
  - text: Consulting
    url: https://18f.gsa.gov/consulting/
    internal: false
  - text: Infrastructure
    url: infrastructure/
    internal: true
  - text: Talent
    url: talent/
    internal: true


repos:
- name: Intake
  description: Main repository
  url: https://github.com/18F/intake

back_link:
  url: "https://pages.18f.gov/"
  text: Read more 18F Pages

google_analytics_ua: UA-48605964-19

defaults:
  -
    scope:
      path: ""
    values:
      layout: "guides_style_18f_default"
